*{
  padding:0;
  margin:0 auto;
  text-align: center;
}
#header{
  height:30px;
  background-color:#305673;
  width:100%;
  font: Bodoni 72 Smallcaps;
  font-size:25px;
  color: white;
}

#content{
  width:1500px;
  background-color:#305673;
   }
