body {background-color: #e3dfd5;}
*{
  padding:0;
  margin:0 auto;
  text-align: center;
}
#header{
  height:30px;
  background-color:#305673;
  width:100%;
  font: Bodoni 72 Smallcaps;
  font-size:25px;
  color: white;
}

#content{
  width:1500px;
  background-color:#305673;
   }

#banner {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
  z-index: -1;
   }

   ul.topnav {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #305673;
   }

   ul.topnav li {float: left;}

   ul.topnav li a {
       display: inline-block;
       color: #f2f2f2;
       text-align: center;
       padding: 10px 5px;
       text-decoration: none;
       transition: 0.3s;
       font-size: 16px;
   }

   ul.topnav li a:hover {background-color: #555;}

   ul.topnav li.icon {display: none;}

   .input[type=text] {
       width: 130px;
       -webkit-transition: width 0.4s ease-in-out;
       transition: width 0.4s ease-in-out;
   }

   input[type=text]:focus; {
       width: 50%;
   }

   div.iphone {
       position: absolute;
       top: 300px;
       bottom: 60px;
       left: 50px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.iphone:hover {
       border: 1px;
   }
   div.camera {
       position: absolute;
       top: 450px;
       bottom: 60px;
       left: 376px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.camera:hover {
       border: 1px;
   }
   div.drone {
       position: absolute;
       top: 300px;
       bottom: 60px;
       left: 380px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.drone:hover {
       border: 1px;
   }

   div.gloves {
       position: absolute;
       top: 300px;
       bottom: 60px;
       left: 720px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.gloves:hover {
       border: 1px;
   }
   div.person {
       position: absolute;
       top: 440px;
       bottom: 60px;
       left: 1070px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.person:hover {
       border: 1px;
   }
   div.basketball {
       position: absolute;
       top: 300px;
       bottom: 60px;
       left: 1070px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.basketball:hover {
       border: 1px;
   }
   div.cars {
       position: absolute;
       top: 700px;
       bottom: 60px;
       left: 35px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.cars:hover {
       border: 1px;
   }
   div.breaks {
       position: absolute;
       top: 825px;
       bottom: 60px;
       left: 378px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.breaks:hover {
       border: 1px;
   }
   div.parts {
       position: absolute;
       top: 700px;
       bottom: 60px;
       left: 377px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.parts:hover {
       border: 1px;
   }
   div.bed {
       position: absolute;
       top: 700px;
       bottom: 60px;
       left: 750px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.bed:hover {
       border: 1px;
   }
   div.volleyball {
       position: absolute;
       top: 845px;
       bottom: 60px;
       left: 1095px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.volleyball:hover {
       border: 1px;
   }
   div.campfire {
       position: absolute;
       top: 700px;
       bottom: 60px;
       left: 1090px;
       padding: 0px;
       margin: 5px;
       border: 1px solid white;
       float: left;
       width: 180px;
   }

   div.campfire:hover {
       border: 1px;
   }
   h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
h2 span.spacer {
   padding:0 5px;
}
